<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="./assets/script.js"></script>
</head>

<body>
    <div class="container">
        <div class="buttons">
            <% if(auth){ %>
                <form action="/logout" method="GET">
                    <button>Logout</button>
                </form>
                Current username: <%-username %>
                    <% }else{ %>
                        <form action="/login" method="GET">
                            <button>Login</button>
                        </form>
                        <form action="/signup" method="GET">
                            <button>Sign up</button>
                        </form>
                        <% } %>
        </div>
        <div class="users">
            <% if(users && users.length) { %>
                <ul>
                    <% users.forEach( user=>{ %>
                        <li>
                            <%-user.name%>
                                <% if(auth){%>
                                    <% if(username!=user.name){ %>
                                        <form action="/chat" method="GET">
                                            <button>Chat</button>
                                        </form>
                                        <% } %>
                                            <% } %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
        </div>
    </div>

</body>

</html>